html,
body {
    height: 100vh;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

header {
    height: 75px;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;

}

.Rectangle {
    max-width: 1160px;
    width: 100%;
    height: 710px;
    margin-left: 60px;
    margin-top: 0px;
    margin-right: 60px;
    background: #FAFAFA;
}


.midle-menu-bar,
.right-menu-bar {
    display: inline-block;
    vertical-align: middle;
}

.midle-menu-bar {
    width: calc(100% - 100px - 65px - 7px);
    text-align: center;
}

.right-menu-bar {
    width: 100px;
}

.right-menu-cart {
    width: 13px;
    height: auto;
}

.header-logo {
    width: 65px;
    height: auto;
}

.midle-menu-bar .menu-link {
    margin-right: 6.5%;
    margin-left: 6.5%;
}

.menu-link {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.right-menu-link {
    margin-right: 35px;
}

.right-menu-container {
    display: inline-block;
    padding: 2px;
}

.Identic {
    position: absolute;
    width: 341px;
    height: 132px;
    left: 220px;
    top: 167px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 110px;
    line-height: 132px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #032F48;
}

.identic-svg {
    margin: 167px 669px 411px 160px;

}

.Rectangle52{
    position: absolute;
width: 565px;
height: 492px;
left: 1220px;
top: 109px;

}
.Rectangle-svg{
   margin:  109px 0 109 655
}